/* Style général pour toute l'interface */
.root {
    -fx-background-color: #f5f5f5; /* Fond gris clair */
}

/* Style pour le VBox */
VBox {
    -fx-alignment: center; /* Centrer les éléments horizontalement */
    -fx-spacing: 2em; /* Espacement vertical entre les boutons */
    -fx-padding: 3em; /* Marges autour du VBox */
}

/* Style pour le HBox */
HBox {
    -fx-alignment: center; /* Centrer les éléments horizontalement */
    -fx-spacing: 2em; /* Espacement vertical entre les boutons */
    -fx-padding: 3em; /* Marges autour du VBox */
}

/* Label */
Label {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #333333;
}

/* Style général pour les boutons */
Button {
    -fx-font-size: 1.3em; /* Taille du texte des boutons */
}