/* Style pour le VBox */
VBox {
    -fx-alignment: center; /* Centrer les éléments horizontalement */
    -fx-spacing: 2em; /* Espacement vertical entre les boutons */
    -fx-padding: 3em; /* Marges autour du VBox */
}