.root {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('/display/views/images/fond1.png');
}

HBox {
    -fx-alignment: BOTTOM_CENTER;
    -fx-spacing: 5em;
    -fx-padding: 15em;
}