#borderTop{
    -fx-background-color: yellow;
    -fx-alignment: center;
    -fx-font-size: 2em;
}


#borderCenter #left {
    -fx-background-color: red;
}

#borderCenter #root {
    -fx-background-color: blue;
}