.root {
    -fx-background-image: url('/display/views/images/fond2.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
VBox {
    -fx-spacing: 2em; /* Espacement vertical entre les boutons */
    -fx-padding: 3em; /* Marges autour du VBox */
}